  <% layout('/layout/boilerplate.ejs') %>

  <body>
    <br><br>

    <div class="row mb-3">
      <div class="col-8 offset-2">
        <h3>Create a New Listing</h3>
      <form class="needs-validation" novalidate method="POST" enctype="multipart/form-data" action="/listings">
          <div class="mb-3">
          <label for="title"  class="form-label">Title</label>
          <input type="text" required class="form-control" placeholder="Enter Title " name="listing[title]" id="title">
        </div>
        <div class="valid-feedback">
          Looks good!
        </div>
        
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
          required
          name="listing[description]"
          class="form-control"
          ></textarea>
        </div>
        
        <div class="mb-3">
          <label for="image" class="form-label">Upload Image</label>
              <input
                name="listing[image]"
                class="form-control"
                type="file"
              />
             
        </div>
        
        <div class="row">
          <div class="mb-3 col-4">
            <label for="price" class="form-label">Price</label>
            <input required name="listing[price]" placeholder="enter price" class="form-control" type="number" />
          </div>
          
          <div class="mb-3 col-8">
            <label for="country" class="form-label">Country</label>
            <input value="India" required name="listing[country]" placeholder="enter country" class="form-control" type="text" />
          </div>
        </div>
        
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
          value="Goa"
          required
          name="listing[location]"
          placeholder="enter location"
          type="text"
          class="form-control"
          />
        </div>
        <button class="btn btn-dark add-btn">Add</button>
        <br><br>
      </form> 
      </div>
    </div>
  </body>
